@{
    ViewData["Title"] = "KahviLista";
}

<div class="text-center">
    <h1>Tietoa kahvilastamme</h1>
    <p>Olemme pieni kahvila Tampereen keskustassa. Olemme olleet pystyssä vuodesta 2020 asti. Toivottavasti käytte kahvilassamme!</p>

    <br/>
    <br/>

    <h2>Yhteistiedot:</h2>
    <p>Puhelinnumero: 0505005050055005</p>
    <p>Sijainti: Tampereenkuja 30</p>
    <p>Sähköposti karsivat_kahvilat5011@gmail.com</p>
    
    
</div>